.header
    .container
        p.title DILLON HALL WOODWORKS
        .menu-bar
            p
                a(routerLink="/", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") CREATIONS
                a(routerLink="/about", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") ABOUT
                a(routerLink="/contact", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") CONTACT
