.header
    .container
        p.title: span(routerLink="/") Dillon Hall Boards
        .menu-bar
            .row
                .col-lg-8.col-md-10.col-sm-12.mx-auto
                    .row
                        .col-4
                            p: a(routerLink="/skateboards", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") Skateboards
                        .col-4
                            p: a(routerLink="/pinstriping", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") Pinstriping
                        //- .col-4
                        //-     p: a(routerLink="/story", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") Story
                        .col-4
                            p: a(routerLink="/contact", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") Contact
