.container
    //- p.desc Handshaped. One of a kind.
    .row(*ngIf="isLoading"): .col-12: .spinner-ctnr: .fas.fa-yin-yang.fa-spin
    .imgs([class.active]="!isLoading")
        .row
            div(*ngFor="let src of imgSrcs; let i = index", [ngClass]="{'col-4': activeIndex != i, 'col-12': activeIndex == i}", (click)="onImgClick(i)")
                img([src]="src")
