.container
    .row
        .col-sm-10.mx-auto
            .row.d-flex.align-items-start
                .col-md-4.col-sm-6(*ngFor="let img of images")
                    a.creation([href]="img.getPostUrl()", target="_blank", rel="noreferrer")
                        img([src]="img.src", *ngIf="img.src != null")
