.container
    .row
        .col-sm-11.mx-auto
            .row.d-flex.justify-content-around
                .col-sm-5(*ngFor="let embed of igEmbedList")
                    .creation([innerHtml]="embed")
