.container
    .row
        .col-sm-10.mx-auto
            .row.d-flex.align-items-start
                .col-sm-4(*ngFor="let url of igUrls")
                    a.creation(target="_blank", rel="noreferrer", href="{{url}}")
                        img([src]="url + '/media/?size=m'")
